<section class="deliveries_part" style="padding: 2% 0 1%">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 di-none">
                <div class="deliveries_tittle">
                     <img src="https://truxcargo.com/assets/img/partner.png" alt="">  
                </div>
            </div>
            <div class="col-lg-9">
                <div class="deliveries_slider owl-carousel cl-slider owl-loaded owl-drag">
                <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1097px, 0px, 0px); transition: all 2s ease 0s; width: 4390px;"><div class="owl-item cloned" style="width: 189.5px; margin-right: 30px;"><div class="single_deliveries">
                        <img src="https://truxcargo.com/assets/img/Oxygen.png" alt="Oxyzen" style="width:90%">                                 
                    </div></div><div class="owl-item cloned" style="width: 189.5px; margin-right: 30px;"><div class="single_deliveries">
                        <img src="https://truxcargo.com/assets/img/amazon.png" alt="Amazon" style="width:90%">                                 
                    </div></div><div class="owl-item cloned" style="width: 189.5px; margin-right: 30px;"><div class="single_deliveries">
                        <img src="https://truxcargo.com/assets/img/shadowfax.png" alt="shadowfax">                                 
                    </div></div><div class="owl-item cloned" style="width: 189.5px; margin-right: 30px;"><div class="single_deliveries">
                        <img src="https://truxcargo.com/assets/img/Xpressbees.jpg" alt="Xpressbees">                                 
                    </div></div><div class="owl-item cloned" style="width: 189.5px; margin-right: 30px;"><div class="single_deliveries">
                        <img src="https://truxcargo.com/assets/img/borzo.jpg" alt="borzo">                                 
                    </div></div><div class="owl-item active" style="width: 189.5px; margin-right: 30px;"><div class="single_deliveries">
                        <img src="https://truxcargo.com/assets/img/delhivery.png" alt="Delhivery">                                 
                    </div></div><div class="owl-item active" style="width: 189.5px; margin-right: 30px;"><div class="single_deliveries">
                        <img src="https://truxcargo.com/assets/img/Ecom.png" alt="Ecom" style="width:60%">                                 
                    </div></div><div class="owl-item active" style="width: 189.5px; margin-right: 30px;"><div class="single_deliveries">
                        <img src="https://truxcargo.com/assets/img/DTDC.png" alt="DTDC">                                 
                    </div></div><div class="owl-item active" style="width: 189.5px; margin-right: 30px;"><div class="single_deliveries">
                        <img src="https://truxcargo.com/assets/img/gati.png" alt="Gati" style="width:90%">                                 
                    </div></div><div class="owl-item" style="width: 189.5px; margin-right: 30px;"><div class="single_deliveries">
                        <img src="https://truxcargo.com/assets/img/rivigo.png" alt="" style="width:80%">                                 
                    </div></div><div class="owl-item" style="width: 189.5px; margin-right: 30px;"><div class="single_deliveries">
                        <img src="https://truxcargo.com/assets/img/Oxygen.png" alt="Oxyzen" style="width:90%">                                 
                    </div></div><div class="owl-item" style="width: 189.5px; margin-right: 30px;"><div class="single_deliveries">
                        <img src="https://truxcargo.com/assets/img/amazon.png" alt="Amazon" style="width:90%">                                 
                    </div></div><div class="owl-item" style="width: 189.5px; margin-right: 30px;"><div class="single_deliveries">
                        <img src="https://truxcargo.com/assets/img/shadowfax.png" alt="shadowfax">                                 
                    </div></div><div class="owl-item" style="width: 189.5px; margin-right: 30px;"><div class="single_deliveries">
                        <img src="https://truxcargo.com/assets/img/Xpressbees.jpg" alt="Xpressbees">                                 
                    </div></div><div class="owl-item" style="width: 189.5px; margin-right: 30px;"><div class="single_deliveries">
                        <img src="https://truxcargo.com/assets/img/borzo.jpg" alt="borzo">                                 
                    </div></div><div class="owl-item cloned" style="width: 189.5px; margin-right: 30px;"><div class="single_deliveries">
                        <img src="https://truxcargo.com/assets/img/delhivery.png" alt="Delhivery">                                 
                    </div></div><div class="owl-item cloned" style="width: 189.5px; margin-right: 30px;"><div class="single_deliveries">
                        <img src="https://truxcargo.com/assets/img/Ecom.png" alt="Ecom" style="width:60%">                                 
                    </div></div><div class="owl-item cloned" style="width: 189.5px; margin-right: 30px;"><div class="single_deliveries">
                        <img src="https://truxcargo.com/assets/img/DTDC.png" alt="DTDC">                                 
                    </div></div><div class="owl-item cloned" style="width: 189.5px; margin-right: 30px;"><div class="single_deliveries">
                        <img src="https://truxcargo.com/assets/img/gati.png" alt="Gati" style="width:90%">                                 
                    </div></div><div class="owl-item cloned" style="width: 189.5px; margin-right: 30px;"><div class="single_deliveries">
                        <img src="https://truxcargo.com/assets/img/rivigo.png" alt="" style="width:80%">                                 
                    </div></div></div></div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><i class="flaticon-left-arrow"></i></button><button type="button" role="presentation" class="owl-next"><i class="flaticon-right-arrow"></i></button></div><div class="owl-dots disabled"></div></div>
            </div>
        </div>
    </div>
</section>