{% load static %}

<style>
    .section_padding {
        padding: 110px 0px 90px;
    }

    .section_tittle {
        margin-bottom: 50px;
        text-align: center;
    }

    .section_tittle h2 {
        font-size: 48px;
        color: #6345fe;
        line-height: 40px;
        font-weight: 700;
        margin-bottom: 8px;
    }

    .section_tittle p {
        margin-bottom: 7px;
        font-weight: 400;
        color: #010101;
        font-size: 15px;
    }

    .single_deliverie_process {
        text-align: center;
        -webkit-box-shadow: 0 3px 9px -3px rgb(66 66 66 / 80%);
        -moz-box-shadow: 0 3px 9px -3px rgb(66 66 66 / 80%);
        box-shadow: 0 3px 9px -3px rgb(66 66 66 / 80%);
        min-height: 200px;
        padding: 20px 40px 30px;
        background: #fff;
        -webkit-border-radius: 1px;
        -moz-border-radius: 1px;
        border-radius: 4px;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
        margin-bottom: 30px;
        -moz-border-radius-topleft: 25px;
        -moz-border-radius-bottomright: 25px;
        -webkit-border-top-left-radius: 25px;
        -webkit-border-bottom-right-radius: 25px;
    }

    .single_deliverie_process img {
        height: 50px;
    }

    .single_deliverie_process h4 {
        font-size: 24px;
        font-weight: 700;
        margin: 18px 0 12px;
    }
</style>

<section class="deliverie_process section_padding" style="background: url('{% static "/plugins/banner-bottom1.png" %}'); background-repeat: no-repeat; background-size: contain;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-sm-10">
                <div class="section_tittle">
                    <h2>Why Choose <b class="black">Cargo-Courier</b></h2>
                    <p>Custom Courier Solutions for You Business, keep your business safe.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="single_deliverie_process">
                    <img src="{% static '/plugins/secure_delivery.png' %}" alt="">
                    <h4>Secure Delivery</h4>
                    <p>We try best services from our side for the delivery so that product can be delivered securely and timely. </p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_deliverie_process">
                    <img src="{% static '/plugins/payment_mode.png' %}" alt="">
                    <h4> Payment Mode</h4>
                    <p> We Offer to our customers to choose  multiple mode of payment Prepaid, COD, ToPay and Franchise ToPay.  </p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_deliverie_process">
                    <img src="{% static '/plugins/label.png' %}" alt="">
                    <h4>Smart Label</h4>
                    <p>You can generate your shipping labels for multiple shipments with your brand name in a professional format. </p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_deliverie_process">
                    <img src="{% static '/plugins/accounting.png' %}" alt="">
                    <h4>Billing Accounts</h4>
                    <p>You can check each transaction cost details any time easily so you can get idea of each shipment cost. </p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_deliverie_process">
                    <img src="{% static '/plugins/cod.png' %}" alt="">
                    <h4>Early COD Remittance</h4>
                    <p>We transfer weekly COD remittance which improve your business cash flow with Cargo-Courier.! </p>
                </div>
            </div>
            
            <div class="col-lg-3 col-sm-6">
                <div class="single_deliverie_process">
                    <img src="{% static '/plugins/insurance.png' %}" alt="">
                    <h4>Insurance Cover</h4>
                    <p>Ship stress-free with Trux Cargo, We provide Maximum insurance coverage for lost &amp; damaged shipments.!</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_deliverie_process">
                    <img src="{% static '/plugins/api.png' %}" alt="">
                    <h4>API Integration</h4>
                    <p>We provide API that allows to process single or bulk shipments at single platform as well as track all shipments.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_deliverie_process">
                    <img src="{% static '/plugins/support.png' %}" alt="">
                    <h4>Best Support</h4>
                    <p>We are committed to providing best customer care for shipping-related, tech related and other problems. </p>
                </div>
            </div>
            
        </div>
    </div>
</section>